body {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 1.5rem;
}

h1 {
    font-size: 5.5rem;
}

input {
    font-size: 1em;
    border: none;
    line-height: 1.5em;
    border-radius: 0;
    text-align: center;
    padding: 2.5%;
    box-sizing: border-box;
}

input[type=button] {
    cursor: pointer;
    background-color: #515151;
    color: white;
}

input[type=button].button-call {
    background-color: #6fb76f;
}

input[type=button].button-call:active {
    background-color: #89e689;
}

input[type=button].button-answ {
    background-color: #7a96c6;
}

input[type=button].button-answ:active {
    background-color: #a0c3ff
}

audio {}

.answerer-code {
    margin-top: 1rem;
}

#peerid {
    display: inline;
    font-size: 2rem;
    color: #9cc0ff;
    /*   line-height: 80px;*/
}

.bottom-space {
    height: 5vh;
}

span.credits {
    bottom: 1%;
    right: 1%;
    position: fixed;
    font-size: 0.5em;
    color: #515151;
}

a,
span.credits a:visited {
    color: gray;
}

span.credits a:hover {
    color: lightgrey;
}

/* MEDIA QUERIES */

@media (max-width: 990px) {
    .container {
        width: 100%;
    }

    span.credits {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    input {
        font-size: 2rem;
    }
}

@media (max-width: 574px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    input {
        min-height: 50px;
        font-size: 5vw;
    }

    input#callings {
        width: 75%;
    }

    input.button-call {
        width: 20%;
    }

    input.answerer-code {
        width: 50%
        
    }

    #peerid {
        font-size: 6vw;
}